DATABASE_URL = "mongodb+srv://USERNAME:PASSWORD@cluster0.koigy.mongodb.net/QuizDB?retryWrites=true&w=majority&appName=Cluster0"
HOST=""
PORT=""
SECRET_KEY=""
NODE_ENV="development"
REFRESH_SECRET_KEY=""
JWT_EXPIRES_IN=""
REFRESH_JWT_EXPIRES_IN=""